<footer>
  <div class='contact'>
    <div class='address'>
      PO Box 724
      Southold, NY 11971
    </div>
    <div class='phone'>(631) 765-2227</div>
    <div class='email'><%= mail_to 'jsinning@optonline.net' %></div>
  </div>
  <div class='social'>
    <div class='mailing-list'>Get Updates <input type='email' placeholder='email'/></div>
    <div class='facebook'>Like us on <%= link_to "Facebook", "https://www.facebook.com/SundownerCharters", :target => :blank %></div>
    <div class='twitter'>Follow us on <%= link_to "Twitter", "https://twitter.com/SundownerFleet", :target => :blank %></div>
  </div>
  <nav class='legal'>
    <copyright>Copyright © <%= Time.now.year %> Sundowner Charters</copyright>
    <%= link_to 'Privacy Policy', '/legal/policy' %>
    <%= link_to 'Terms and Conditions', '/legal/terms' %>
  </nav>
</footer>
