<h1>Info</h1>
<div class='jump-links'>
  <%= link_to "Important Information", "#important-information" %>
  <%= link_to "What To Bring", "#what-to-bring" %>
  <%= link_to "What NOT To Bring", "#what-not-to-bring" %>
  <%= link_to "A Note About The Weather", "#weather" %>
  <%= link_to "Preparing Your Catch", "#preparing-your-catch" %>
</div>

<div id='important-information'>
  <h2>Important Information</h2>
  <ul>
    <li>All bait and tackle is provided on the boat at no additional charge. </li>
    <li>Ice is also provided for your catch.</li>
    <li>A deposit is required in order to reserve your date on the boat.</li>
    <li>The charter agreement will go in effect when the deposit is received.</li>
    <li>Any balance owed is payable prior to sailing of said vessel on the date of the charter.</li>
    <li>The party has the right to cancel any trip up to two weeks prior to the scheduled date with refund of deposit. Any trip cancelled by the party with less than two weeks notice will forfeit deposit.</li>
    <li>The Captain has the final word concerning sailing. Cancellations caused by rough seas, storm warnings, mechanical defects, illness or any other condition beyond the control of the Captain will be re-booked on a future date agreeable to the charter party and Captain. If an alternate date cannot be agreed upon, the deposit will be refunded.</li>
    <li>The SUNDOWNER can take a maximum of 6 passengers plus crew</li>
    <li>The SUNDOWNER II can take a maximum of 12 passengers plus crew.</li>
    <li>Tackle is provided by the Captain. Any outfit or equipment lost overboard or destroyed will be charged to the customer.</li>
    <li>All fish caught belong to the customer unless agreed upon otherwise in advance of the trip.</li>
    <li>Charter begins at the time specified in this contract. Charters not arriving at the boat within one hour of departure time will be considered cancelled by the party and deposit will be forfeited.</li>
    <li>The Captain has the right to cancel any charter without refund for any of the following reasons:
      <li>The charter is intoxicated, under the influence of illegal drugs, or acts in an unruly manner.</li>
      <li>The charter poses a threat to the safe operation of the vessel or obstructs the Captain or crew from performing their normal duties.</li>
    </li>
  <ul>
</div>

<div id='what-to-bring'>
  <h2>What to Bring</h2>
  <dl>
    <dt>Warm clothing</dt>
    <dd>Appropriate dress for the expected temperature is a necessity.
      Temperatures on the water can be significantly cooler that those on the land (especially at night and early morning).
      Dress for the temperature and bring 1 or 2 extra layers. You don't have to put it on, and you can always take it off.
    </dd>
    <dt>Boots and foul weather gear</dt>
    <dd>
      While it's usually not necessary to wear it, if you don't bring it, you can't put it on. No matter how bright the sun is shining, boats can be wet, especially when the wind blows. That's just the way it is.
    </dd>
    <dt>Sunglasses and sunblock</dt>
    <dd>Keep in mind that the sun's effects are multiplied when it reflects off of the water.</dd>
    <dt>Camera</dt>
    <dd>I can't even tell you how many times a charter told me that they should have brought a camera.</dd>
    <dt>Food, snacks and soft drinks</dt>
    <dd>Bring what you like to eat. Beer and wine are OK in responsible quantities. Hard liquor is not permitted.</dd>
    <dt>Rags</dt>
  </dl>
</div>

<div id='what-not-to-bring'>
  <h2>What Not to Bring</h2>
  <dl>
    <dt>Hard Liquor</dt>
    <dd>Beer and wine are OK in responsible quantities. Hard liquor is not permitted.</dd>
    <dt>Firearms or weapons of any kind</dt>
    <dd> Law enforcement officers should notify the Captain prior to boarding of any firearms.</dd>
    <dt>Illegal drugs</dt>
    <dd> these will be confiscated and the appropriate authority will be notified.</dd>
    <dt>ANY kind of navigation equipment</dt>
    <dd> these will be confiscated.</dd>
    <dt>Large empty coolers</dt>
    <dd> These should be left in your vehicle until the end of the trip. All fish caught are immediately iced and stored in on board coolers.</dd>
  </dl>
</div>

<div id='weather'>
  <h2>A Note About the Weather</h2>
  <p>In the age of 24-hour News and Weather, the weather report has become more about entertainment and less about meteorology. Any type of extreme weather, no matter where it is occurring, is reported upon with sensationalism. The reason this is done is for ratings.  News of a tropical storm that may or may not effect the East Coast on Monday, is reported on as early as the prior Wednesday. The result is that we often get dozens of phone calls from worried customers wondering if their Friday or Saturday charter is going to be safe when, in fact, the storm may never have any impact on the local area whatsoever.</p>
  <p>Weather forecasts, especially those from the major networks in New York, are often very different from the weather predictions and the conditions actually experienced on the East End of Long Island. The fact is that weather is often times a very local event. The crew of the Sundowner and Sundowner II carefully monitor the weather to ensure that your trip is both safe and enjoyable.</p>
  <p>Trip postponment or cancellation is a determination made by the captain after careful consideration of such things as the local weather broadcast, visual observations, radar, and internet weather products. Many years of local experience also weigh into the decision as wind direction, tides and the location of current productive fishing locations are all factors which can have an impact on a successful fishing trip. Please respect the decision of the captain.</p>
  <p>Special Note- "Dangerous Rip Currents" are only dangerous to swimmers, surfers and surf fishermen. Rip currents have no effect whatsoever on the waters fished by the Sundowner Fleet.</p>
  <p> Click the links below for detailed fishing reports and weather forecasts:</p>
    <nav class='reports'>
    <%= link_to "Fishing Report", "http://www.noreast.com/usermanager/userprofile.cfm?user_ID=56289", :target => :blank %>
    <%= link_to "Local Weather Forecast", "http://www.weatherforyou.com/reports/index.php?forecast=zandh&pands=11957&url_place=orient&state=ny&zipcode=11957", :target => :blank %>
    <%= link_to "Marine Weather Forecast", "http://forecast.weather.gov/MapClick.php?lat=41.16521551363405&lon=-72.2186279296875&site=okx&smap=1&unit=0&lg=en&FcstType=marine", :target => :blank %>
  </nav>
</div>

<div id='preparing-your-catch'>
  <h2>Preparing Your Catch For The Table</h2>
  <p>All fish caught by our clients are properly handled by our professional, knowledgeable mates paying particular attention to quality. Fish are bled, and immediately iced in one of our commercial fish coolers. Fish are filleted or dressed to the client’s preference and packaged for your convenience. Ice is available at the boat to keep your catch fresh for the trip home.</p>
  <p>Now once, you have caught them, and our mates have cleaned, bagged and iced them, it is up to you to prepare them for your table. Click <%= link_to "here", "/info/recipes" %> to see some of our favorite recipes. If you like our recipes, let us know. If you have your own favorite and would like to share it with our customers, send an e-mail to <%= mail_to 'jsinning@optonline.net' %>.</p>
  <p>Of course, if you’re preparing fresh fish, we recommend that you use fresh ingredients. The North Fork of Long Island has no shortage of farms and farmstands where locally grown fresh vegetables and herbs can be purchased. Both Latham’s Farmstand and Sep’s Farmstand are located along Route 25, west of our dock in Orient. Both are less than 10 minutes from the boat.</p>
  <p>If you get the opportunity, we recommend that you stop at the Southold Fish Market, located at 64755 Route 25 in Southold (the former Hollister's Restaurant). Southold Fish Market stocks fresh local seafood including clams, oysters, lobsters, steamers, Peconic Bay Scallops and more to enhance your meal. To help you prepare your freshly caught fish, Southold Fish Market also stocks condiments and other related items.</p>
</div>
