<!DOCTYPE html>
<html>
<head>
  <title>Sundowner Charters</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id='wrap'>
    <%= render 'layouts/components/header' %>
    <main class='<%= controller.controller_name %>'><%= yield %></main>
  </div>
  <%= render 'layouts/components/footer' %>
</body>
</html>
